.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.header .header__img {
  width: 200px;
  margin-block-start: 10px;
  margin-inline-start: 10px;
}
.header .header__menu {
  margin-inline-end: 60px;
}
.header .header__menu ul {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0px 0px 0px 0px;
  padding-block-start: 120px;
}
.header .header__menu ul li {
  margin: 10px 0px;
}
.header .header__menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
}
.header .header__menu ul li a:hover {
  text-decoration: underline;
}
.header .header__menu:hover ul, .header ul:hover {
  display: block;
}
.header .header__menu--profile {
  margin: 20px 40px 0 0;
  width: 40px;
  display: flex;
  align-items: center;
}
.header .header__menu--profile img {
  margin-inline-end: 15px;
  width: 40px;
}